@font-face {
  font-family: 'Work Sans';
  src: url(../fonts/WorkSans-VariableFont_wght.ttf);
}

html, body {
  background-color: black;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Work Sans';
  font-weight: 200;
}

.navigation-container {
  position: absolute;
  top: 0;
  left: 0;
}

.link-home {
  text-decoration: none;
}

.arrow-back {
  color: white;
  font-size: 48px !important;
  opacity: 30%;
}

#clock {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 47% 6% 47%;
  margin: auto;
  font-size: 38vw;
  color: white;
}

#hours {
  margin: auto;
}

.ampm {
  font-size: 3vw;
  margin: auto;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.pulsate {
  animation: pulse 3s ease-out infinite;
  opacity: 0.15;
  font-weight: 800;
}

@keyframes pulse {
  0% {
    opacity: 0.15;
    font-weight: 800;
  }
  50% {
    opacity: 0.75;
    font-weight: 200;
  }
  100% {
    opacity: 0.15;
    font-weight: 800;
  }
}

#minutes {
  margin: auto;
}