* {
  box-sizing: border-box;
  user-select: none;
}

html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  font-size: clamp(1rem, 10vw, 2rem); 
}


.numpad {
  margin: auto;
  min-width: 160px;
  width: 45vh;
  max-width: 100vw;
  min-height: 213px;
  height: 60vh;
  max-height: 133vw;
  display: grid;
  grid-template-columns: repeat(3, auto);
  grid-template-rows: repeat(4, auto);
  grid-gap: 4px;
  transform: translateY(25%);
}

.numpad.blur {
  filter: blur(3px);
  pointer-events: none;
}

.num {
  width: 100%;
  height: 100%;
  text-align: center;
  border: 2px black solid;
  display: grid;
  align-content: center;
  cursor: pointer;
  background-color: white;
  border-radius: 50%;
}

.num:active {
  background-color: black;
  color: white;
}

.unlocked {
  background-color: green;
}

.button.continue {
  display: none;
  border-radius: 8px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: black;
  color: white;
  padding: 20px 40px;
}

.unlocked .button.continue {
  display: inline;
}

@keyframes FadeIn {
  from {
    background-color: red;
  }
  to {
    background-color: white;
  }
}

.incorrect {
  animation: FadeIn 0.75s ease-in-out forwards;
}