* {
    box-sizing: border-box;
}

.search-box {
    max-width: 500px;
    margin: auto;
    position: relative;
}

#search-input {
    background-color: #f1f1f1;
    width: 100%;
    border: 1px solid transparent;
    padding: 10px;
    font-size: 16px;
    text-align: center;
}

.search-suggestions {
    position: absolute;
    display: none;
    bottom: 0%;
    left: 50%;
    transform: translateX(-50%) translateY(100%);
    display: grid;
    grid-template-rows: repeat(6, auto);
    width: 100%;
    margin: auto;
    z-index: 1;
}

.search-suggestions.active {
    display: block;
    border: 1px solid #d4d4d4;
    border-bottom: none;
    border-top: none;
    padding: 5px 2% 0;
    background-color: rgb(230, 230, 230);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.result-container {
    display: grid;
    grid-template-columns: 80% 20%;
    cursor: pointer;
}

.selected {
    background-color: DodgerBlue;
    color: #ffffff;
}

.title-container {}

.years-container {}

#heatmap-grid-container {
    padding: 2%;
}

.heatmap-grid {
    /* width: 90%; */
    /* height: 70vh; */
    display: grid;
    margin: auto;
}

.label-row {
    text-align: right;
    margin: auto;
    font-weight: bold;
}

.label-column {
    text-align: center;
    margin: auto;
    font-weight: bold;
}

.episode-cell {
    position: relative;
    transition: transform .1s;
}

.episode-cell:active, .episode-cell:hover {
    /* transform: scale(1.05); */
    z-index: 1;
    border: 2px black solid;
}

/* black background, white text? */

/* .episode-detail {
    display: none;
    position: absolute;
    top: 0;
    min-width: 300px;
    min-height: 100px;
    background-color: rgba(230, 230, 230, 0.80);
    z-index: 1;
    transform: translateX(50%);
} */

/* .episode-detail.tooltip-left {
    right: 0;
    transform: translateX(-50%);
}

.episode-detail.tooltip-right {
    left: 0;
    transform: translateX(50%);
} */

/* .episode-cell:active .episode-detail, .episode-cell:hover .episode-detail {
    display: block;
    transform: scale(0.75);
} */

#episode-info {
    display: none;
    transform: translateX(-50%);
    width: auto;
    height: 50px;
    pointer-events: none;
    background-color: black;
    color: white;
    text-align: center;
}

#episode-info.fixed-block {
    display: block;
    position: fixed;
    overflow: hidden;
    z-index: 1;
}