@font-face {
  font-family: 'Work Sans';
  src: url(fonts/WorkSans-VariableFont_wght.ttf);
}

html, body {
  background-color: white;
  margin: 0;
  padding: 0;
  font-family: 'Work Sans';
  font-weight: 200;
}

.navigation-container {
  /* margin: auto; */
  padding: 10px;
  text-align: center;
}

.navigation-list {
  list-style: none;
  padding: 10px;
  margin: 0;
}

.navigation-list-item {
  margin: 10px 0;
}

.navigation-list-item a {
  text-decoration: none;
  font-size: 4vw;
  font-weight: 400;
  color: white;
  background-color: black;
  padding: 2px 10px;
}