.search-box-container {
  width: 100%;
  text-align: center;
}

.search-box {
  width: 350px;
  margin: 5px;
  font-size: 18px;
  text-align: center;
  padding: 5px;
}

.search-results {
  max-width: 1220px;
  margin: auto;
  padding: 10px;
  display: grid;
  grid-template-columns: repeat(auto-fill, 300px);
  justify-content: center;
  grid-auto-rows: 50px;
  grid-gap: 5px;
}

.movie-no-results {
  margin: auto;
  font-size: 36px;
  text-align: center;
}

.movie-container {
  align-self: center;
  text-align: center;
  height: 100%;
  width: 100%;
  display: grid;
  transition: background-color 1s;
}

.movie-container:hover {
  background-color: rgba(255,255,0,0.5);
  border: 2px solid rgb(240, 240, 0);
  box-sizing: border-box;
}

.movie-edited-title {
  align-self: center;
}

.favorite {
  transition: background-color 0s;
  background-color: rgba(255, 255, 0, 0.5);
}